﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="index.aspx.cs" Inherits="m_index" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="js/jquery-1.10.2.js" type="text/javascript"></script>
    <title>Peshwari Super Market</title>
    <link href="css/mobile.css" rel="stylesheet" type="text/css" />
   
    <link rel="stylesheet" type="text/css" href="jquery.pageslide.css">
    <meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <link href="../css/style.css" rel="stylesheet" />
    <script src="js/jquery.min.js" type="text/javascript"></script>
     
    



    <script language="javascript" type="text/javascript">

        var intervalId;

        $(document).ready(

   function () {

    

       var myVar = setInterval(function () { myTimer() }, 4000);

       function myTimer() {


           $("#splash").hide();
           $("#dvCategories").show();
           clearInterval(myVar);

       }



   }
     );
   






        

        function ShowCategory() {
            $("#dvCategories").show();
            $("#dvProducts").hide();

        }

        function ChangeCategory(l1, l2, l3) {
            $("#<%=hdnLevel1.ClientID%>").val(l1);
            $("#<%=hdnLevel2.ClientID%>").val(l2);
            $("#<%=hdnLevel3.ClientID%>").val(l3);
            $("#<%=hdnBrandId.ClientID%>").val(0);
            $("#<%=hdnGroupId.ClientID%>").val(0);
            $("#<%=hdnSubGroupId.ClientID%>").val(0);


            Search("", 1, 1);
            $("#dvCategories").hide();
            $("#dvProducts").show();
        }


    </script>

    <style type="text/css">
    
    .mobileBoximage {
    border: 0 solid #d6d3d3;
    margin: 2px;
     height:70px;width:70px;
}

.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}

.tbAtc {
    background:none;
    margin-left: 0;
    width: 100%;
}

.atcSelect {
    border: 1px solid silver;
    margin-bottom: 10px;
    padding: 3px;
    width: 100px;
}

.box1 span:nth-child(3)
{
  height:0px;
}
.decr {
    background: none repeat scroll 0 0 #d2cfcf;
    cursor: pointer;
    float: left;
    padding:0px;
    width: 100%;
    text-align:center;
    height:27px;
}

.incr {
    background: none repeat scroll 0 0 #d2cfcf;
    cursor: pointer;
    float: left;
         padding:0px;
    text-align: center;
    width:  100%;
    height:27px;
}

.priceDiv {
    background: none repeat scroll 0 0 #d2cfcf;
    border: 1px solid silver;
    border-radius: 5px;
    float: left;
    width: 100px;
    height:30px;
}

.mobileOfferBg
{
    
    position: absolute; height: 70px; width: 66px; background: url(images/offerbg.png) no-repeat scroll 0px 0px / 100% auto transparent;
    }
.mobileOffer
{
    color:white;margin-right:20px;font-weight:bold;font-size:10px;margin-top:-3px
    }
   
 
			.transition-500 {
				-webkit-transition-duration: 500ms;
				transition-duration: 500ms;
			}

			.transition-1000 {
				-webkit-transition-duration: 1000ms;
				transition-duration: 1000ms;
			}
	 
   
   
   
    </style>
    		<link rel="stylesheet" href="slidebars.css">
   
</head>
<body>
 
	 
			
 

	 

	
	

    <div id="dvCategories" style="display: none; width: 100%">
        <asp:Literal ID="ltImages" runat="server"></asp:Literal>
    </div>
    <div id="splash">
        <div id="demo">
        </div>
        <img src="images/3.jpg" width="100%" />
    </div>
    <div id="dvProducts" style="display:none">
    <div style="background:black;color:White;width:100%;text-align:center;font-family:Verdana;font-size:18px;font-weight:bold">
      PESHAWARI SUPER MARKET
      <div>
      
     <a id="open-right">Open right</a>
	
      </div>
      </div>
    
    <div id="right-slidebar" off-canvas="off-canvas-2 right push" class="transition-500">
    
		
 
 


 
 
<div class="brands" >
  <a href="#" style="color:#4e8425; font-size:16px; padding:10px 0 0 10px; ">RELATED CATEGORIES</a>
        
   <ul style="padding-left:5px;max-height:120px;overflow-y:scroll" id="categorylist">
   

    </ul>
        
    </div>
<br />
<hr />
  
  
 
 
 
<div class="price" >
            <a href="#" style="color:#4e8425; font-size:16px; padding:10px 0 0 10px; ">BRANDS</a>
             <ul style="padding:0px;max-height:120px;overflow-y:scroll" id="brandlist" >
   

    </ul>
  
        
    </div>
 
<br />
<hr />
 <div class="price"  style="width:80%;padding-left:15px">
            <a href="#" style="color:#4e8425; font-size:16px; padding:10px 0 0 10px; ">PRICE RANGE</a>
    <p style="padding:10px 0 5px 0">
  
  <input type="text" id="amount" readonly style="border:0; color:BLACK; font-weight:bold;FONT-WEIGHT: NORMAL">
</p>
 
<div id="slider-range"></div>
  <br />

  <div id="close-any" style="background:green;font-size:40px;padding:0px;border-radius:5px;text-align:center">Exit</div>
		 
  <br />
<br />

        
    </div>
  </div>  


      <div id="dvProductForm">
      
 
 <form runat="server">
 
 
  <div id='cssmenu' style="width:94%"></div>
   
       
     
    <script src="js/jquery.min.js" type="text/javascript"></script>
 
    <script src="js/jquery.uilocksearch.js" type="text/javascript"></script>



     <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
 
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="../css/jquery.notifyBar.css">
   <script src="../jquery.notifyBar.js"></script>

  
<style type="text/css">
  
   

#facet-loading {
    background: none repeat scroll 0 0 #fff;
    border: 4px double #ccc;
    border-radius: 12px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    opacity: 0.9;
    padding: 10px;
    position: absolute;
    z-index: 999;
   
}
#facet-loading span {
    font: 400 17px/23px Lato,Arial,Helvetica,sans-serif;
    padding: 10px;
    vertical-align: middle;
}
#facet-loading img {
    vertical-align: middle;
}
#facet-loading-mask {
    background-color: rgba(61, 61, 61, 0.3);
    height: 100% !important;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100% !important;
    z-index: 998;
}
#facet-products-wrapper {
    position: relative;
}


</style>

  
 

<script language="javascript" type="text/javascript">
    var pageIndex = 1;
    var pageCount = 1;
    var busy = false;

    $(window).scroll(function () {


        if ($(window).scrollTop() + $(window).height() > $("#productlist").height() && !busy) {

            busy = true;

            GetRecords();
        }
    });

   


    function GetRecords() {


        if (pageIndex != 1 && pageIndex <= pageCount) {


            var selValues = $("input[name='brandfilter']:checked").map(function () {
                return $(this).val();
            }).get();
            Search(selValues, 3, pageIndex);
        }
    }



    var m_MinPrice = -1;
    var m_MaxPrice = -1;
    var selValues = "";
    $(document).ready(
    function () {





 
        $("#btnCheckOut").click(
function () {
    var totalAmt = Number($("#hdTotalAmt").val());
    var minAmt = Number($("#hdMinimumCheckOutAmt").val());
    if (totalAmt < minAmt) {
        $("#sp_msg").html("* Order Amount should be greater than " + minAmt);
        return false;
    }
    else {



        $.ajax({
            type: "POST",
            data: '{}',
            url: "index.aspx/ValidateCheckOut",
            contentType: "application/json",
            dataType: "json",
            success: function (msg) {


                if (msg.d == "1") {
                    var url = "basket.aspx";
                    $(location).attr('href', url);
                }
                else {
                    $("#sp_msg").html("* Insufficient Order Amount for Checkout");
                }



            }, error: function (xhr, ajaxOptions, thrownError) {

                var obj = jQuery.parseJSON(xhr.responseText);
                alert(obj.Message);
            },
            complete: function (msg) {


            }

        });






    }
});



    }
    );


    $(document).on("change", "input[name='brandfilter']", function (event) {

        selValues = $("input[name='brandfilter']:checked").map(function () {
            return $(this).val();
        }).get();


        Search(selValues, 2, 1)


    });




    $(document).on("change", "select[name='variation']", function (event) {

        var pid = $(this).attr("id");
        var oldSelVal = $(this).attr("selvar");
        var arrPid = pid.split('_');
        var fPid = arrPid[1];
        var vid = $(this).val();


        $(this).find("option[value='" + oldSelVal + "']").prop("selected", true);


        $("div[name='product_" + fPid + "']").css("display", "none");

        $("#variation_" + vid).css("display", "block");






    });



    $(document).on("click", "div[name='decr']", function (event) {
        var data = $(this).attr("id");


        var arrData = data.split('_');
        var vid = arrData[1];
        $("#cqty_" + vid).css("height", "20px");

        //        $("#cqty_" + vid).html("<img src='images/loader.gif' style='margin-top:5px'   alt='.....'/>");


        var tempQty = $("#cqty_" + vid).html();
        var tempQ = Number(tempQty) - 1;
        if (tempQ <= 1) {
            tempQ = 1;
        }
        $("#cqty_" + vid).html(tempQ);


        var qty = 1;
        var st = "m";
        var type = "Product";
        ATC(vid, qty, st, type, false);
    });


    $(document).on("click", "div[name='incr']", function (event) {


        var data = $(this).attr("id");
        var arrData = data.split('_');
        var vid = arrData[1];
        var qty = 1;
        var st = "p";
        var type = "Product";
        $("#cqty_" + vid).css("height", "20px");

        //        $("#cqty_" + vid).html("<img src='images/loader.gif' style='margin-top:5px'   alt='.....'/>");



        var tempQty = $("#cqty_" + vid).html();
        var tempQ = Number(tempQty) + 1;

        $("#cqty_" + vid).html(tempQ);

        ATC(vid, qty, st, type, false);



    });





    function ATC(vid, qty, st, type, isfirsttime) {
        $.ajax({
            type: "POST",
            data: '{"vid":"' + vid + '","qty":"' + qty + '","st":"' + st + '","type":"' + type + '"}',
            url: "index.aspx/FirstTimeATC",
            async: true,
            contentType: "application/json",
            dataType: "json",
            success: function (msg) {


                var obj = jQuery.parseJSON(msg.d);

                if (isfirsttime) {

                    $.notifyBar({ cssClass: "success", html: "Product Added Succcessfully!" });
                }

                if (obj.error == 1) {

                    alert("An Error occured during transaction. Please refresh the page and try again Later.");
                    return;
                }


                if (type == "Combo") {

                    $("#cartcontainer").html(obj.cartHTML);

                    $("#cbox_" + obj.pid).html(obj.cartHTML);


                    if (obj.qty <= 0) {

                        $("#cbox_" + obj.pid).css("background", "white")

                    }
                    else {

                        $("#cbox_" + obj.pid).css("background", "#D8EDC0")

                    }



                }
                else {


                    //$("#cartcontainer").html(obj.cartHTML);


                    $("#variation_" + vid).html(obj.productHTML);


                    //                    if (obj.qty <= 0) {

                    //                        $("#box_" + obj.pid).css("background", "white")

                    //                    }
                    //                    else {

                    //                        $("#box_" + obj.pid).css("background", "#D8EDC0")

                    //                    }

                }


                //$("#cqty_" + obj.pid).html(totalQ);


            },
            error: function (xhr, ajaxOptions, thrownError) {

                var obj = jQuery.parseJSON(xhr.responseText);
                alert(obj.Message);
            },
            complete: function (msg) {


            }

        });

    }

    $(document).on("click", "button[name='btnAddToCart']", function (event) {

        var data = $(this).attr("id");
        var arrData = data.split('_');
        var vid = arrData[1];
        var qty = 1;
        var st = "p";
        var type = "Product";

        $("#a_" + vid).css("width", "55px");
        $("#a_" + vid).html("<img src='images/loaderadd.gif' style='margin-top:2px'   alt='.....'/>");



        ATC(vid, qty, st, type, true);


    });


    $(document).on("click", "div[name='cartminus']", function (event) {

        var data = $(this).attr("id");
        var arrData = data.split('_');
        var vid = arrData[1];
        var qty = 1;
        var st = "m";
        var type = "Product";
        $("#cq_" + vid).css("height", "20px");

        $("#cq_" + vid).html("<img src='images/loader.gif' style='margin-top:5px'   alt='.....'/>");

        ATC(vid, qty, st, type, false);

    });

    $(document).on("click", "div[name='cartadd']", function (event) {



        var data = $(this).attr("id");
        var arrData = data.split('_');
        var vid = arrData[1];
        var qty = 1;
        var st = "p";
        var type = "Product";
        $("#cq_" + vid).css("height", "20px");

        $("#cq_" + vid).html("<img src='images/loader.gif' style='margin-top:5px'   alt='.....'/>");

        ATC(vid, qty, st, type, false);


    });






    function Search(Brands, type, pageid) {

       
        if (type == 1 || type == 2) {
            $("#facet-loading-wrap").css("display", "block");
            $("#productlist").html('');
        }
        else {
            $("#loader").show();
            $("#loader").css("display", "block");

        }

        var l1 = $("#<%=hdnLevel1.ClientID%>").val();
        var l2 = $("#<%=hdnLevel2.ClientID%>").val();
        var l3 = $("#<%=hdnLevel3.ClientID%>").val();

        var BID = $("#<%=hdnBrandId.ClientID%>").val();
        var GID = $("#<%=hdnGroupId.ClientID%>").val();
        var SGID = $("#<%=hdnSubGroupId.ClientID%>").val();


        $.ajax({
            type: "POST",
            data: '{"Brands":"' + Brands + '","Level1":"' + l1 + '","Level2":"' + l2 + '","Level3":"' + l3 + '","PageId":"' + pageid + '","MinPrice":"' + m_MinPrice + '","MaxPrice":"' + m_MaxPrice + '","BrandId":"' + BID + '","GroupId":"' + GID + '","SubGroupId":"' + SGID + '"}',
            url: "index.aspx/AdvancedSearch",
            contentType: "application/json",
            dataType: "json",
            success: function (msg) {


                var obj = jQuery.parseJSON(msg.d);
                $("#imgloading").remove();

                if (pageIndex >= 2 && pageIndex <= pageCount) {

                   // $("#productlist").append("<h3 style='margin-left:15px;'>Page" + pageIndex + "</h3>");
                }
                if (type == 3) {
                    $("#productlist").append(obj.ProductData);
                }
                else {


                    pageIndex = 1;
                    $("#productlist").html(obj.ProductData);
                }


                if (type == 1) {



                    $("#brandlist").html(obj.BrandData);
                    $("#CatTitle").html(obj.CatTitle);
                    $("#CatDesc").html(obj.CatDesc);

                    $("#categorylist").html(obj.CategoryData);

                    var min = obj.MinP;
                    var max = obj.MaxP;
                    $(function () {
                        $("#slider-range").slider({
                            range: true,
                            min: min,
                            max: max,
                            values: [min, max],
                            slide: function (event, ui) {
                                $("#amount").val("र " + ui.values[0] + " -  र " + ui.values[1]);
                            },
                            stop: function (event, ui) {
                                var curVal = ui.value;
                                m_MinPrice = ui.values[0];
                                m_MaxPrice = ui.values[1];

                                Search(selValues, 2, 1)
                            }
                        });
                        $("#amount").val("र " + $("#slider-range").slider("values", 0) +
      " - र " + $("#slider-range").slider("values", 1));
                    });

                }

                var totRec = obj.TotalRecords;
                pageCount = Math.ceil(totRec / 16);




            }, error: function (xhr, ajaxOptions, thrownError) {

                var obj = jQuery.parseJSON(xhr.responseText);
                alert(obj.Message);
            },
            complete: function (msg) {

                busy = false;
                pageIndex++;
                if (type == 1 || type == 2) {
                    $("#facet-loading-wrap").css("display", "none");
                    $("html, body").animate({ scrollTop: 0 }, 800);
                }
                $("#loader").hide();
                //$("html, body").animate({ scrollTop: 0 }, 800);


            }

        });

    }


  

 

  


 


</script>

<input type="hidden" id="hdMinimumCheckOutAmt" />
     
      <input type="hidden" id="hdTotalAmt" />
      
      

 




<div class="row" >
 

<div class="col-sm-12">

<div class="vegetables">
<div class="line">
<span style="position: relative; top:-0.6em;font-size:15px; font-family:Verdana, Geneva, sans-serif; color:#ef1619; padding-left: 15px;" id="CatTitle">
    
</span>
<p id="CatDesc">
 </p>



</div>
</div>


<div class="row">
<div class="col-md-12"  >
<table style="width:100%;margin-top:40px;">
<tr>
<td>
<asp:HiddenField ID="hdnLevel1" runat="server" />
<asp:HiddenField ID="hdnLevel2" runat="server" />
<asp:HiddenField ID="hdnLevel3" runat="server" />
<asp:HiddenField ID="hdnBrandId" runat="server" />
<asp:HiddenField ID="hdnGroupId" runat="server" />
<asp:HiddenField ID="hdnSubGroupId" runat="server" />
<div id="facet-loading-wrap" style="display:none"><div id="facet-loading"><img src="images/loading_brown.gif"><span>Loading...</span></div><div id="facet-loading-mask"></div></div>

 <div id="productlist" style="clear:both">
 </div>
 
</td>


</tr>

<tr>
<td align="center">
 <img id="loader" alt="" src="loading.gif" style="display: none" />
<%--<div id="red" style="margin: auto;padding:5px">
            </div>--%>

</td>
</tr>
</table>

            

 


 


 


 
</div>


 


 


 




</div>


 


<!--Fruit End-->
 
</div>




 
 </div>
 

       
 </form>
 </div>
     
    </div>

    <script src="js/bootstrap.min.js" type="text/javascript"></script>
 
 

 	<script src="slidebars-extended.js"></script>
		<script>
		    (function ($) {
		        // Create a new instance of Slidebars
		        var controller = new slidebars();

		        // Test events
		        $(controller.events).on('init', function () {
		            console.log('Slidebars initialized');
		        });

		        $(controller.events).on('opening', function (event, id) {
		            console.log('Opening a Slidebar');

		            if (id) {
		                console.log(id);
		            }

		            if (id === 'off-canvas-5') {
		                console.log('Opening top');
		            }
		        });

		        // Initialize Slidebars
		        controller.init();

		        // Dummy content
		        var content = '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit volutpat neque. Nam a ipsum mauris. Maecenas nisi elit, dapibus sit amet eleifend a, vulputate vel ligula. Phasellus in sagittis nulla. Ut tincidunt sapien in metus sollicitudin viverra. Suspendisse potenti. In ac sapien nulla. Fusce vel augue eu nisi blandit accumsan sit amet ut tellus. Fusce sit amet tortor lobortis, suscipit magna a, rutrum est. Sed imperdiet urna id magna consequat blandit. Curabitur sodales feugiat est, eget mattis enim consectetur ac. In efficitur luctus odio aliquam suscipit. Ut commodo enim sit amet aliquam sodales. Nullam porta lorem vel molestie aliquet. Praesent eget ligula aliquet, semper sapien eu, scelerisque massa. Integer pharetra lectus tellus.</p><p>Morbi sed iaculis lacus, ac feugiat mauris. Nunc nec sodales ex, a condimentum dolor. Curabitur erat massa, lacinia quis pellentesque in, pretium non lacus. Mauris luctus neque a elit gravida, sed bibendum neque pharetra. Curabitur tortor tellus, sollicitudin a mauris at, luctus feugiat nibh. Integer vel feugiat odio. Donec arcu lacus, pretium sed posuere nec, laoreet sed urna. Mauris maximus dolor et posuere volutpat. Aliquam erat volutpat. Duis tempor cursus arcu, quis pretium dolor scelerisque interdum. Cras enim ante, consectetur ut blandit eget, posuere at mauris. Proin in turpis egestas nunc fringilla scelerisque non ac enim. Sed porta elit ut lorem elementum, id dignissim erat lacinia.</p>';

		        // Create a few Slidebars
		        controller.create('off-canvas-5', 'top', 'shift', content);
		        controller.create('off-canvas-6', 'right', 'reveal', '<p>This is the content to be inserted.</p>');
		        controller.create('off-canvas-7', 'bottom', 'reveal', content);

		        // Destroy a Slidebar
		        $('#destroy-top').on('click', function () {
		            controller.destroy('off-canvas-1', function () {
		                alert('Boom!');
		            });
		        });


		 


       $("#dvProductForm").click(
       function () {


           controller.close();
       }
       );

		        // Open Slidebars
		        $('#open-top').on('click', function () {
		            controller.open('off-canvas-5');
		        });

		        $('#open-right').on('click', function () {
		            controller.open('off-canvas-2');
		        });

		        $('#open-bottom').on('click', function () {
		            controller.open('off-canvas-3');
		        });

		        $('#open-left').on('click', function () {
		            controller.open('off-canvas-4');
		        });

		        $('#close-top').on('click', function () {
		            controller.close('off-canvas-5', function () {
		                console.log('Callback function on close');
		            });
		        });

		        $('#close-any').on('click', function () {
		            controller.close();
		        });

		        $('#check-top').on('click', function () {
		            console.log(controller.active('off-canvas-5'));
		        });

		        $('#check-any').on('click', function () {
		            console.log(controller.active('slidebar'));
		        });

		        $('#exit').on('click', function () {
		            controller.exit(function () {
		                alert('Bye');
		            });
		        });

		        $('#init').on('click', function () {
		            controller.init();
		        });

		        $('#get').on('click', function () {
		            var getWhat = prompt('Enter a Slidebar id or leave blank for array of Slidebar ids.', '');

		            console.log(controller.get(getWhat));
		        });

		        $('#modify-bottom').on('click', function () {
		            controller.modify('off-canvas-5', 'bottom', 'overlay');
		        });

		        $('#modify-top').on('click', function () {
		            controller.modify('off-canvas-5', 'top', 'reveal', function () {
		                controller.open('off-canvas-5');
		            });
		        });
		    })(jQuery);
		</script>

</body>
</html>
