﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="asppage.aspx.cs" Inherits="asppage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div style="font-size:40px">
    Hello I am an ASP Page
    <a href="start.aspx" style="font-size:40px">Start Page</a>
    </div>
    </form>
</body>
</html>
