﻿<%@ Page Title="" Language="C#" MasterPageFile="~/main.master" AutoEventWireup="true" CodeFile="contactus.aspx.cs" Inherits="contactus" %>
<%@ MasterType VirtualPath="~/main.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cnMaster" Runat="Server">
<div class="row">

 <asp:HiddenField runat ="server" ID="hdnUserId" /> 
<div class="col-md-12" style="margin:10px 0 0 0">

<div class="line">
<span style="position: relative; top:-0.3em;font-size:25px; font-family:Cambria; color:#ef1619; ">
CONTACT US
</span>
<hr style="background:#f46c05;height:1px">

</div>

<div class="col-md-12" style="padding:7px;margin-top:0px;color:Black">
                              
                              <p style="background-color:#386c3f ;color:White;font-style:italic;font-size:20px;font-family:Cambria;padding-left:5px">
                           <b>  We'd Love to hear from you. Peshawari Supermarket is here for you to deliver grocery at your doorstep.  </b>
                            <br/>
                             </p>
                             
                             
                             <div class="row" style="margin-top:20px">
                             
                             <div class="col-md-4">
                             <div style="border:1px solid silver;margin-top:10px;border-radius:5px">
                             <div style="padding-top:30px;padding-left: 10px;padding-bottom:30px;background:lightgray;padding-right: 10px">
                             <table >

                           <tr><td style="height:45px"><b>Name:</b></td> 
                            
                           <td style="padding-left:10px"> <input  type="text" id="txtFirstName" name="txtFirstName" style="width:100%" runat="server"  class="form-control input-small validate required alphanumeric"/>
                           </td><td style="padding-left:6px"> <asp:RequiredFieldValidator 
        ID="RequiredFieldValidator1" runat="server" ControlToValidate="txtFirstName"  Display="Dynamic"
        ForeColor="#CC0000">*</asp:RequiredFieldValidator></td>
                            
                           </tr>
     
                           <tr><td style="height:45px"><b>Email:</b></td><td style="padding-left:10px"><input  type="text" id="txtEmail" name="txtEmail" style="width:100%" runat="server" class="form-control input-small validate required alphanumeric"/>
                           </td><td style="padding-left:6px"><asp:RequiredFieldValidator 
        ID="RequiredFieldValidator2" runat="server" ControlToValidate="txtEmail"   Display="Dynamic"

        ForeColor="#CC0000">*</asp:RequiredFieldValidator>
        <asp:RegularExpressionValidator ID="RegularExpressionValidator1"  Display="Dynamic"
 runat="server" 
        ControlToValidate="txtEmail" ErrorMessage="Enter MailID" 
        ForeColor="Blue" 
        ValidationExpression="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*">Enter mailId</asp:RegularExpressionValidator>
        
        
        </td></tr>
                           <tr><td style="height:45px"><b>Phone:</b></td><td style="padding-left:10px"><input  type="text" id="txtPhoneNo" name="txtPhoneNo" style="width:100%" runat="server" class="form-control input-small validate required alphanumeric"/>
</td><td></td></tr>
<tr><td style="height:45px"><b>Subject:</b></td><td style="padding-left:10px"><input  type="text" id="txtSubject" name="txtSubject" style="width:100%" runat="server" class="form-control input-small validate required alphanumeric"/></td>
<td></td></tr>

                        
                        <tr>
                        <td style="height:45px"><b>Enquiry:</b></td>
                        <td style="padding-left:10px">
                        <textarea id="txtEnquiry" rows="2" cols ="35" name="txtEnquiry" runat="server" style="width:100%"  class="form-control input-small validate required alphanumeric"></textarea>
                        </td><td style="padding-left:6px"><asp:RequiredFieldValidator 
        ID="RequiredFieldValidator3" runat="server" ControlToValidate="txtEnquiry" 
        ForeColor="#CC0000">*</asp:RequiredFieldValidator>
                        </td>
                        </tr>
                          <tr><td></td><td style="padding-left:10px;padding-top:15px">
                           <asp:Button ID="btnSubmit" runat="server" Text="Submit" onclick ="btnSubmit_Click" class="btn btn-success" />
                          </td><td></td></tr>
                           </table>
                           </div>
                           </div>
                             </div>
                             
                             
                             <div class="col-md-8">
                             <div class="row" >
                             <div class="col-md-12">
                             <div style="margin-top:10px">
                             <img src="images/map.png" style="height:100%;width:100%"/>
                             </div>
                             </div>
                              </div>
                             <div class="row">
                            <div class="col-md-6">
                              <br/> 
 <b>INDIA</b>
 <br/>
 Peshawari SuperMarket<br />
Sector 19<br />
Chandigarh (Pb)<br />
160019(India) 


								</div>
                           
                              
                                 <div class="col-md-6">
                                 <br/> 
  <b>INDIA</b>
 <br/>
 Peshawari SuperMarket<br/>
 Manimajra, Opp. Fun Republic Mall <br/>
Chandigarh (Pb)<br/>
<br/>
			</div>
                        </div>  
                             </div>
                             
                             </div>

                            
                                  
                              
                               </div>






 


</div>
  
</div>
</asp:Content>

