﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
        <title>Coming Soon</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="CommingSoon/images/icons/favicon.ico"/>
        <link href="CommingSoon/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="CommingSoon/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="CommingSoon/animate/animate.css" rel="stylesheet" />
        <link href="CommingSoon/css/util.css" rel="stylesheet" />
        <link href="CommingSoon/css/main.css" rel="stylesheet" />
    </head>
    <body>
        <div class="bg-img1 size1 flex-w flex-c-m p-t-55 p-b-55 p-l-15 p-r-15" style="background-image: url('CommingSoon/images/bg01.jpg');margin-top: -157px;">
            <div class="wsize1 bor1 bg1 p-t-175 p-b-45 p-l-15 p-r-15 respon1">
                <div class="wrappic1">
                    <img src="logopes.png" alt="LOGO">
					
                </div>
                <p class="txt-center m1-txt1 p-t-33 p-b-68">
                    Our website is under construction
                </p>
                <div class="wsize2 flex-w flex-c hsize1 cd100">
                    <div class="flex-col-c-m size2 how-countdown">
                        <span class="l1-txt1 p-b-9 days">180</span>
                        <span class="s1-txt1">Days</span>
                    </div>
                    <div class="flex-col-c-m size2 how-countdown">
                        <span class="l1-txt1 p-b-9 hours">17</span>
                        <span class="s1-txt1">Hours</span>
                    </div>
                    <div class="flex-col-c-m size2 how-countdown">
                        <span class="l1-txt1 p-b-9 minutes">50</span>
                        <span class="s1-txt1">Minutes</span>
                    </div>
                    <div class="flex-col-c-m size2 how-countdown">
                        <span class="l1-txt1 p-b-9 seconds">39</span>
                        <span class="s1-txt1">Seconds</span>
                    </div>
                </div>
                <form class="flex-w flex-c-m contact100-form validate-form p-t-55" style="margin-top: -144px;">
                    <div class="wrap-input100 validate-input where1" data-validate="Email is required: ex@abc.xyz">
                        <input class="s1-txt2 placeholder0 input100" type="text" name="email" placeholder="Your Email">
                        <span class="focus-input100"></span>
                    </div>
                    <button class="flex-c-m s1-txt3 size3 how-btn trans-04 where1">
                        Get Notified
                    </button>
                </form>
                <p class="s1-txt4 txt-center p-t-10">
                    I promise to <span class="bor2">never</span> spam
                </p>
            </div>
        </div>
        <script src="CommingSoon/jquery/jquery-3.2.1.min.js"></script>
        <script src="CommingSoon/bootstrap/js/popper.js"></script>
        <script src="CommingSoon/bootstrap/js/bootstrap.min.js"></script>
        <script src="CommingSoon/select2/select2.min.js"></script>
        <script src="CommingSoon/countdowntime/moment.min.js"></script>
        <script src="CommingSoon/countdowntime/moment-timezone.min.js"></script>
        <script src="CommingSoon/countdowntime/moment-timezone-with-data.min.js"></script>
        <script src="CommingSoon/countdowntime/countdowntime.js"></script>
        <script>
            $('.cd100').countdown100({
                /*Set Endtime here*/
                /*Endtime must be > current time*/
                endtimeYear: 0,
                endtimeMonth: 0,
                endtimeDate: 180,
                endtimeHours: 18,
                endtimeMinutes: 0,
                endtimeSeconds: 0,
                timeZone: ""
                // ex:  timeZone: "America/New_York"
                //go to " http://momentjs.com/timezone/ " to get timezone
            });
        </script>
        <script src="CommingSoon/js/main.js"></script>
    </body>
</html>
