﻿<%@ Page Title="" Language="C#" MasterPageFile="~/main.master" AutoEventWireup="true" CodeFile="info.aspx.cs" Inherits="info" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cnMaster" Runat="Server">
    <div class="row" style="margin-top:15px;margin-bottom:15px">

<div class="col-md-12" >
 
    <div class="row">
<div class="col-sm-3" style="padding-right:0px" >

<div class="list-group" style="margin:10px 0 0 0">
            <a href="#" class="list-group-item active" style="text-transform:uppercase"><asp:Literal ID="ltParentPageTitle" runat="server"></asp:Literal></a>
      <asp:Repeater ID="repMenu" runat="server">
      <ItemTemplate>
            <a href='info.aspx?pid=<%#Eval("PageId") %>' class="list-group-item" ><%#Eval("Title") %></a>
      
      </ItemTemplate>
      
      </asp:Repeater>
      
      
          </div>
          <img src="images/shado.png" style="margin-top:-12px"/>
         
</div>

<div class="col-md-9" style="margin:40px 0 0 0">
<div class="ourinner">
<h2><asp:Literal ID="ltPageTitle" runat="server"></asp:Literal></h2>
<hr style="background:none repeat scroll 0 0 #f20328;height:2px;font:12px/20px Trebuchet MS"/>
<p>
<asp:Literal ID="ltPageDescription" runat="server"></asp:Literal>
</p>
<br/>

  <br />

                          


<br/>
</div>
  
</div>

</div>
</div>

 

 


</div>
</asp:Content>

