﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="mobile.master.cs" Inherits="mobile" %>
 <%@ Register src="usercontrols/ucMenu.ascx" tagname="ucMenu" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register Src="usercontrols/ucsubscribenews.ascx" TagName="ucNewsletter" TagPrefix="uc2" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%=PageTitle %></title>




    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="shortcut icon" type="image/png" href="img/pslogo.png">
 


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
     


</head>
<script language="javascript" type="text/javascript">
    $(document).ready(
    function () {
        $("#dvclose").click(function () {

            var dialogDiv1 = $('#dvPopupDSlots');
            dialogDiv1.dialog("option", "position", [500, 200]);
            dialogDiv1.dialog('close');
        });
        $("#dvShowSlots").click(function () {

            $("#sp_TimeSlots").html("Please wait while loading..");

            $.ajax({
                type: "POST",
                data: '{}',
                url: "index.aspx/GetTimeSlots",
                contentType: "application/json",
                dataType: "json",
                success: function (msg) {

                    var obj = jQuery.parseJSON(msg.d);

                    $("#sp_TimeSlots").html(obj.TSlots);



                }, error: function (xhr, ajaxOptions, thrownError) {

                    var obj = jQuery.parseJSON(xhr.responseText);
                    alert(obj.Message);
                },
                complete: function (msg) {


                }

            });
            $("#dvPopupDSlots").dialog({ modal: true, closeOnEscape: false, width: 400 });
            $(".ui-dialog-titlebar").hide();
        });

    });
</script>
<body style="background:#E0E0E0">
    <form runat="server" id="frmUser">
    <asp:ScriptManager ID="scrip" runat="server">
    </asp:ScriptManager>
    <div class="container" style="background:white">
    
     

        <uc1:ucMenu ID="ucMenu1" runat="server" />
         
   
       
        <asp:ContentPlaceHolder ID="cnMaster" runat="server">
        </asp:ContentPlaceHolder>
      
    </div>
    </form>
</body>

<script src="js/bootstrap.min.js" type="text/javascript"></script>
<link href="css/sm-core-css.css" rel="stylesheet" type="text/css" />

 
 

</html>
