﻿<%@ Page Title="" Language="C#" MasterPageFile="~/main.master" AutoEventWireup="true" CodeFile="recipies.aspx.cs" Inherits="recipies" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cnMaster" Runat="Server">
 
 <div class="row">
            
            
            <div class="col-md-12">
  					
              <h2 style="border-bottom: 1px dashed silver; border-top: 1px dashed silver; 
                  color: gray; padding: 7px; font-size: 20px; margin-top: 10px;
                   background: none repeat scroll 0% 0% rgb(238, 238, 238); 
                   font-family: serif;">PESHAWARI RECIPIES</h2>
  					</div>
            
        </div>


<div class="row">
 
 

 
 <asp:Literal ID="ltRecipes" runat="server"></asp:Literal>

 
</div>
</asp:Content>

