﻿<%@ Page Title="" Language="C#" MasterPageFile="~/main.master" AutoEventWireup="true" CodeFile="repay.aspx.cs" Inherits="repay" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cnMaster" Runat="Server">

<div class="row">
<div class="col-md-12">
 <h3>Your payment transaction failed.</h3> 
 <b>Error:</b><asp:Literal ID="ltError" runat="server"></asp:Literal>
 <a href="orderreview.aspx"><div class="btn btn-danger">Re-Order</div></a>
</div>
</div>


 
</asp:Content>

