<%@ Page Language="C#" %>
 
<%
 
       HttpFileCollection files = HttpContext.Current.Request.Files;

      

       string FileName = "";
       for (int index = 0; index < files.Count; index ++)
 
       {
           
          
 
              HttpPostedFile uploadfile = files[index];
 
                             // You must create “upload” sub folder under the wwwroot.
              FileName = uploadfile.FileName;
              uploadfile.SaveAs(Server.MapPath("~\\PictureOrder\\") + uploadfile.FileName);
 
       }

       HttpContext.Current.Response.Write(FileName);
 
%>