﻿<%@ Page Title="" Language="C#" MasterPageFile="~/main.master" AutoEventWireup="true" CodeFile="tt.aspx.cs" Inherits="tt" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cnMaster" Runat="Server">
<link rel="stylesheet" href="css/jquery.notifyBar.css">
 
    
    <p>
      Success style<br>
      <button class="btn btn-danger" id="success">Test</button>
    </p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="jquery.notifyBar.js"></script>
    <script>
        $(document).ready(
        function () {


            $.notifyBar({
                html: "Autostart"
            });


            $("#success").click(function () {
                $.notifyBar({ cssClass: "success", html: "Your data has been changed!" });
            });



        }
        );

            
           

     
    </script>
</asp:Content>

