/*pre-define classes*/
body{ padding:0 0 0 0; background:#E0E0E0;}
 
p,h1,h2,h3,h4,h5,h6,ul,li,form,img{ font-weight:normal; margin:0; list-style:none; border:none; }


.logo{ margin:3px; padding:0px; }

.topbg{ margin:0px 0 0 0px; padding:0 0 0 0; text-align:right; }

.topbg ul{ margin: 0; padding: 0; list-style-type: none; }

.topbg ul li{ margin:0 0 0 0px; padding:0 0 0 28px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff; display: inline; }


.follow{ margin:0px 0 px 0px; padding:0 0 0 0; text-align:right; }

.follow ul{ margin:10px 0 0 0px; padding:0 0 0 0px; list-style-type: none; }

.follow ul li{ margin:0px 0 0 0px; padding:0px 0 0 2px; display: inline; }



.menu{ margin:0px 0 px 0px; padding:15px 0 0 0; text-align:right; }

.menu ul{ margin:15px 0 0 0px; padding:0 0 0 0px; list-style-type: none;}

.menu ul li{ margin:0px 0 0 0px; padding:0px 0px; display: inline; font-family:Arial, Helvetica, sans-serif; font-size:16px; }

.menu ul li a
{
text-decoration: none;
color: #767676;
padding:15px 10px;
font-family:"open_sansregular"


}

.menu ul li a:hover {
    background-color:#D53530;
	color:#FFF;
	
}


.slider{ padding:0px; margin:10px 0 0 0;}

.matrix{ margin:0px; padding:0px; }
.matrix h1{ font-family:"Calibri"; font-size:38px; color:#214288; margin:20px 0 0 0; text-align:center; }

.matrix h1 span{ font-family:"Calibri"; font-size:40px; color:#f15325; margin:20px 0 0 0; text-align:center;  }

.matrix p{ margin:20px; padding:0px; color:#6d6c6c; font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:center;  }

.services{ background:url(../images/boxbg.png) repeat-x;}

.services h2{ font-family: "Calibri" ; font-size:48px; color:#042240; text-align:center; padding:20px 0 0 0; }


.boxbordre{ border:solid 1px #d6d3d3; margin:40px 0 0px 0; padding:0 0 50px 0; background:url(../images/boxbg.png) repeat ; }

.boxbordre h2{ margin:20px 0 0 0; text-align:center; color:#383b4f; font-size:40px; }


.box1{ border:1px solid #d6d3d3;
    border-radius: 5px;
	background:#d1e5ff;
	box-shadow: 5px 5px 5px #888888;
	width:210px;
	margin:20px 0px 0px 0px; text-decoration:none; float:left;
	padding:20px 10px; }
	
	
.box1 p{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#656464; text-align:center; padding:20px 0 0 0; }	

.box1 h2{ font-family: "Calibri" ; font-size:25px; text-align:center; padding:10px 0 0 0; color:#214288; }	


.box1 a{ margin:0 0 0 0; padding:0 0 0 55px; }


.arrow{ margin:0 0 0 0; padding:0 0 0 0; text-align:center; margin:10px 0 0 0; }

.ourse{ border:solid 1px #d6d3d3; margin:40px 0 0 0; }

.ourse h2{ font-family: "Calibri" ; font-size:36px; padding:30px 0 0 0; color:#214288; }	

.ourse p{ font-family: "Calibri" ; font-size:14px; color:#656464; padding:30px 0 0 0; }

.rfid { margin:50px 0 0 0px; padding:0 0 0 0; }

.rfid h2{ font-family:Arial, Helvetica, sans-serif; font-size:25px; color:#214288; }

.rfid p{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#656464; text-align:justify; padding:20px 0 0 0; line-height:25px; }

.rfid p span{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#f05124; text-align:justify; padding:20px 0 0 0; }

.rfid span{ font-family:Arial, Helvetica, sans-serif; font-size:25px; color:#f05124; text-align:justify; padding:0px 0 0 0; }

.cloud { margin:80px 0 0 0px; padding:0 0 0 0; }


.port{ margin:10px 0 0 14px; padding:0 0 0 0; }

.port h2{ font-family:Arial, Helvetica, sans-serif; font-size:35px; color:#b80d00; margin:0 0 30px 0px; }

.Portfolio a{ padding:0 33px 0 0px; margin:0 0 0 0; }

.Portfolio p{ margin:10px 0 0 0; padding:0 10px 0px 10px; color:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:13px; }

.Portfolio h3{ margin:20px 0 0 0; padding:0 10px 0 10px; font-family:Arial, Helvetica, sans-serif; font-size:20px; text-align:justify; color:#FFF; }



.client { padding:0  0px 0 0px; margin:50px 0 0 10px; }

.client h2{ font-family:Arial, Helvetica, sans-serif; font-size:35px; color:#214288; margin:0 0 30px 0px }

.client a{ padding:0 40px 0 0px; margin:0px 0 0 0; }


.footer{ margin:0px; padding:0px; }

.footer h1{ font-size:24px; font-family:Arial, Helvetica, sans-serif; color:#ffffff; padding:46px 0 0 0; }
.footer ul{ list-style:none; padding:0 0 0 0px; margin:0 0 0 0px; }
.footer ul li{ font-size:13px; font-family:Arial, Helvetica, sans-serif; background:url(../images/arr.png) top left no-repeat; line-height:25px; }
.footer ul li a{ color:#b2b2b2; text-decoration:none; display:block; padding:0px 0 0 10px; }

.matrx{ margin:50px 0 0 0; padding:0 0 0 0; }

<!--Home page end -->




<!--contactus formstart-->

.contactus{ margin:0 0 0px 0; padding:0 0 0 0; }

.contactus h2{ margin:0 0 30px 0; padding:20px 0 0 0; text-align:center; color:#red; font-family:Arial, Helvetica, sans-serif; font-size:30px; }

.contactform{ margin:0 0 0 0; padding:40px 0 0 0;  }

.contactform input[type=text], textarea {
	transition: all 0.30s ease-in-out;
	-webkit-transition: all 0.30s ease-in-out;
 	-moz-transition: all 0.30s ease-in-out;
 	border:#fff 1px solid;
 	outline:none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #DDDDDD;
	
	
}

.contact{ margin:0 0 0 0; padding:40px 0 0 0;  }
.contact input[type=text], textarea {
	transition: all 0.30s ease-in-out;
	-webkit-transition: all 0.30s ease-in-out;
 	-moz-transition: all 0.30s ease-in-out;
 	border:#fff 1px solid;
 	outline:none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #DDDDDD;
	height:150px;
	width:250px;
	
	}
	
.map{ margin:40px 0 0 0; padding:0 0 0 0px; background:url(../images/map.png) top no-repeat; height:200px; }	

.maptext{ margin:0 0 0 0px; padding:0 0 0 0px; }

.matrix1{ padding:0px; margin:0px; }

.matrix1 h4{ padding:10px 0 0 10px; margin:0px; font:Arial, Helvetica, sans-serif; font-size:15px; color:#9c2e18; font-weight:bold; }

.matrix1 ul{ padding:0px; margin:0px; list-style-type:none;  }

.matrix1 ul li{ padding:10px 0 0 10px; margin:0px; line-height:15px;  }

.matrix1 span{ margin:0 0 0 0px; padding:0 0 0 0; color:#ca1b1b; }


<!--End contactus formstart-->



<!--android app development-->

.android { margin:0 0 0px 0; padding:0 0 0 0; }

.android h2{ margin:0 0 30px 0; padding:20px 0 0 0; text-align:center; color:#red; font-family:Arial, Helvetica, sans-serif; font-size:30px; }

.application { margin:0 0 0px 0; padding:0 0 0 0; }

.application h2{ margin:20px 0 0px 0; padding:0 0 0 0; color:#374cac; font-family:Arial, Helvetica, sans-serif; font-size:30px; }

.application p{ margin:20px 0 20px 0; padding:0 0 0 0; color:#857c7c; font-family:Arial, Helvetica, sans-serif; font-size:13px; text-align:justify; }
 


<!--End android app development-->



<!--time attandence-->

.android { margin:0 0 0px 0; padding:0 0 0 0; }

.android h2{ margin:0 0 30px 0; padding:20px 0 0 0; text-align:center; color:#red; font-family:Arial, Helvetica, sans-serif; font-size:30px; }

.application { margin:0 0 0px 0; padding:0 0 0 0; }

.application h2{ margin:20px 0 0px 0; padding:0 0 0 0; color:#374cac; font-family:Arial, Helvetica, sans-serif; font-size:30px; }

.application p{ margin:20px 0 20px 0; padding:0 0 0 0; color:#857c7c; font-family:Arial, Helvetica, sans-serif; font-size:13px; text-align:justify; }
 


<!--End time attandence-->



<!--Asp.net development-->

.timea{ margin:0px 0 0px 0; padding:0 0 0 0;}

.timea h3{ font-family:Arial, Helvetica, sans-serif; font-size:20px;  padding:0 0 0 10px; color:#FFFFFF;  }

.timea p{ font-family:Arial, Helvetica, sans-serif; font-size:14px;    padding:0 0 0 10px; color:#FFFFFF;  }



.time{ margin:0px 0 0px 0; padding:0 0 0 0;}

.time h3{ font-family:Arial, Helvetica, sans-serif; font-size:20px;   padding:0 0 0 10px; color:#FFFFFF;  }

.time p{ font-family:Arial, Helvetica, sans-serif; font-size:14px;    padding:0 0 0 10px; color:#FFFFFF;  }



.slon{ margin:0px 0 0px 0; padding:0 0 0 0;}

.slon h3{ font-family:Arial, Helvetica, sans-serif; font-size:20px;    padding:0 0 0 10px; color:#FFFFFF;  }

.slon p{ font-family:Arial, Helvetica, sans-serif; font-size:14px;   padding:0 0 0 10px; color:#FFFFFF;  }


.salon{ margin:0px 0 0px 0; padding:0 0 0 0;}

.salon h3{ font-family:Arial, Helvetica, sans-serif; font-size:20px;   padding:0 0 0 10px; color:#FFFFFF;  }

.salon p{ font-family:Arial, Helvetica, sans-serif; font-size:14px;   padding:0 0 0 10px; color:#FFFFFF;  }



<!--End Asp.net development-->


 



