/*pre-define classes*/
body{ padding:0 0 0 0; }
 
p,h1,h2,h3,h4,h5,h6,ul,li,form,img{ font-weight:normal; margin:0; list-style:none; border:none; }

 .abc
{
	border-left:solid 1px silver;
	margin:0px 0 0 0;
}

.menu{
	margin:0px;
	padding:5px 0 5px 0;
	float:right;
}

.menu ul{
	list-style:none;
	float:right;
}

.menu ul li{
	font-family:"Myriad Pro";
	font-size:14px;
    color:#6ba52e;
	list-style-type:none;
	float:left;
	padding:0 16px 0 0;
	margin:0 14px 0 0;
	border-right:solid 1px #6ba52e;
	
}

.menu ul li:last-child{
	font-family:"Myriad Pro";
	font-size:14px;
    color:#6ba52e;
	list-style-type:none;
	float:left;
	padding:0 0px 0 0;
	margin:0 0px 0 0;
	border-right:solid 0px;
}




.menu ul li a{
	font-family:"Myriad Pro";
	font-size:14px;
    color:#6ba52e;
	list-style-type:none;
	text-decoration:none;
	display:block;
	
}

.menu ul li a:hover{
	display:block;
	color:#ef4124;}
	
	
	
	
.phone{
	margin:0px;
	padding:5px 0 5px 0;
	float:right;
}

.phone h3{
	font-family:"Myriad Pro";
	font-size:14px;
    color:#6ba52e;
	list-style-type:none;
	float:left;
	padding:3px 13px 0px 0px;
	
}

.phone ul{
	list-style:none;
	float:right;
}

.phone ul li{
	font-family:"Myriad Pro";
	font-size:14px;
    color:#6ba52e;
	list-style-type:none;
	float:left;
	padding:0 5px 0 0;
	
}


.phone ul li a{
	font-family:"Myriad Pro";
	font-size:14px;
    color:#d30102;
	list-style-type:none;
	text-decoration:none;
	display:block;
	
}

.phone ul li a:hover{
	display:block;
	color:#6ba52e;}

	


.item{
	margin:0px;
	padding:5px 0 5px 0;
	float:right;
}

.item h5{
	margin:0px;
	color:#6ba52e;
	padding:5px 0 5px 0;
	float:right;
}

.item p{
	margin:0px;
	padding:0px 0 0 12px;

}

.freedelivery{
	margin:10px 0 0 0px;
	padding:0 0 0 0px;
	
 }
 
 
 .freedelivery h2{
	margin:0 0 0 0px;
	padding:0 0 0 0px;
	font-size:18px;
	color:#858484;
	font-family:"Myriad Pro";


 }



.callus{
	background:#000;
	margin:0 0 0 0px;
	padding:12px 0px 10px 10px;
	
 }
.callus h2{
	margin:0 0 0 0px;
	padding:0 0 0 0px;
	font-size:15px;
	color:#ffffff;
	font-family:"Myriad Pro";


 }
 
 .border
{
	border-right:solid 1px silver;
	margin:5px 0 0 0;
}


.slider{ margin:10px 0 0 0; padding:0px; width:100%; }

.yourbasket{ margin:10px 0 0 0; padding:0 0 10px 0;  background-color: #FFFFFF;
    border: 1px solid #aba6a6;
    display: block;
   
     }
	 
.yourbasket h5{ margin:0px; padding:0 0 0 6px;
font-family:Verdana, Geneva, sans-serif;
font-size:14px;
color:#444343;    

     }
	
.basketitem h4{ margin:0px 0 0 0; padding:0px; font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#3c3b3b; }
.basketitem h5{line-height:1.5; margin:0px 0 0 0; padding:0px; font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#3c3b3b; }


	 
.vegetables{ margin:20px 0 0 0; padding:0px; }

.boxbordre{ border:solid 1px #d6d3d3; margin:40px 0 0 0;}

.box1{ border:1px solid #d6d3d3;
    border-radius: 5px;
	box-shadow: 5px 5px 5px #888888; width:156px;
	margin:10px 0px 10px 0px; text-decoration:none; float:left}
	
.box1 span{
    color: #692731;
    font-size:12px;
    font-weight: 400px;
    text-transform: uppercase;
	margin-left:32px;
}

.box1 h2{
    color: #692731;
    font-size:12px;
    font-weight:650;
    text-transform: uppercase;
	font-family:Verdana, Geneva, sans-serif;
	margin:10px 0 0px 15px;
	
}


.qty{ 
	width:60px;
	text-decoration:none;
	margin-right:16px;
	margin-top:8px;
	float:right;
	}
	
	.qty h5{ font-family:Verdana, Geneva, sans-serif; font-size:12px; padding:0; color:#557d36;
	}
	


.enqury{ background:#F00; border:1px solid #c00608; height:40px;}

.enqury h2{ color:#FFF; height:40px; font-size:14px; font-family:Arial, Helvetica, sans-serif; padding:10px 0px 0px 10px; }

.ask{ margin:20px 0 0 100px; padding:0px; width:80px; border:1px solid #744206; background:#ed8f1f; border-radius:3px; }
.ask h4{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; padding:8px; }

.inputEnquiry
        {
            background: url("../images/writeimg.png") no-repeat scroll 4px 4px transparent;
            padding-left: 26px;
            border:1px solid #ccc;
			color:gray;
			font-style:italic;
			border-radius:3px;
			border-color:silver;
        }
		
		.inputEnquiry2
        {
            background: url("../images/messagebox.png") no-repeat scroll 2px 2px transparent;
            padding-left: 26px;
            border:1px solid #ccc;
			color:gray;
			font-style:italic;
			border-radius:3px;
			border-color:silver;
			height:30px;
			
        }
		
		.bigtext{
    font-size: 8pt;
}

.link{ padding:0px; margin:20px 0 0px 0px; }
.link h2{ font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#FFFFFF; }
.link ul{ padding:0px; margin:0px; list-style:none; }
.link ul li{ padding:4px 0 0 1px; margin:0 0 0 0px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff; }

.button2{ margin:20x 0 0 0; }