﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="webservice.aspx.cs" Inherits="backoffice_webservice" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<script src="js/jquery-1.9.0.min.js" type="text/javascript"></script>
   
  <script src="js/jquery.jqGrid.js" type="text/javascript"></script>
     <script src="js/grid.locale-en.js" type="text/javascript"></script>
 <link href="js/jquery-ui-1.9.2.custom.css" rel="stylesheet" type="text/css" />
    
    <link href="js/ui.jqgrid.css" rel="stylesheet" type="text/css" />
       <link href="js/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery-ui.js" type="text/javascript"></script>

      
    <script type="text/javascript" src="js/jquery.uilock.js"></script>

    <script language="javascript" type="text/javascript">

        $(document).ready(
    function () {

        CallHandler();

    });
    
    
    </script>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>

    <script type="text/javascript">




        function CallHandler() {

            $.ajax({
                url: "http://peshawarisupermarket.com/backoffice/handlers/GetAllCategories.ashx",
                contentType: "application/json;",
                dataType: "json",
                data: {'Id':'1'},
                responseType: "json",
                success: OnComplete,
                error: OnFail
            });
            return false;
        }

        function OnComplete(result) {

            var len = result.length;
             
             for (var i = 0; i < len; i++) 
             {

                 alert(result[i]["CategoryId"]);
             }


        }
        function OnFail(result) {
 

            alert('Request Failed');
        }

    </script>
</body>
</html>
