﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucsubscribenews.ascx.cs" Inherits="usercontrols_ucsubscribenews" %>
<div id="contact_form"  style="margin:15px 0 0 30px";  >
	
    
    <li>Name:</li>
            <li>
                <asp:TextBox ID="txtPersonName"  ForeColor="Gray" PlaceHolder = "Enter Your Name" runat="server"></asp:TextBox>
        
         <asp:RequiredFieldValidator  ValidationGroup="newsletter" ID="reqPersonName" runat="server" ControlToValidate="txtPersonName" ForeColor="Red" ErrorMessage="*"></asp:RequiredFieldValidator>
	
            
             </li>
            <li>Email:</li>
            
            <li>
             <asp:TextBox ID="txtEmail"  ForeColor="Gray"  PlaceHolder = "Enter Your Email" runat="server"></asp:TextBox>
	  <asp:RequiredFieldValidator  ValidationGroup="newsletter" ID="reqEmailID" runat="server" ControlToValidate="txtEmail" ForeColor="Red" ErrorMessage="*"></asp:RequiredFieldValidator>
  
            </li>
           
            <li>
             <asp:Button ID="btnSubscribe" runat="server"   class="btn btn-success"   Text="Subscribe" 
        onclick="btnSubscribe_Click" ValidationGroup="newsletter"/>
            </li>
            

   
   



  
    </div>    