﻿<%@ Page Title="" Language="C#" MasterPageFile="admin.master" AutoEventWireup="true" CodeFile="changepassword.aspx.cs" Inherits="changepassword" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cntMaster" Runat="Server">
    <link href="css/custom-css/settings.css" rel="stylesheet" />


    <form runat="server" id="frm1">


<div id="content">
       			<div id="rightnow">
                    <h3 class="reallynow">
                        <span>Change Password</span>
                      
                        <br />
                    </h3>
				 <div class="youhave">
                   <table cellpadding="0" cellspacing="0" border="0" class="top_table">
                     <tr><td class="headings">Old Password:</td><td>  <input type="password" name="txtName"   data-index="1" id="txtOldPassword" runat="server"/></td></tr>
                     <tr><td class="headings">New Password:</td><td>  <input type="password" name="txtMobile"    data-index="1" id="txtNewPassword" runat="server"/></td></tr>                                       
                   </table>  
                     
                     <table class="category_table">
                         <tr>
                             <td class="headings"></td>
                             <td><asp:Button ID="btnChangePassword" class="btn btn-primary btn-small" runat="server" Text="Change Password" onclick="btnChangePassword_Click"/></td>
                         </tr>
                     </table>               			 
                 </div>
			  </div>
               


                

            </div>
</form>
</asp:Content>

