body {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #c0c0c0;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #666666;
    font-family: "Cambria",Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
	margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
	padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.info {
    float: right;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4px;
}
.info ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
	font-family: "Cambria",Arial,Helvetica,sans-serif;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
}
.info ul li {
    color: #fff;
    float: left;
    line-height: 25px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 4px;
    margin-top: 0;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
}
.info ul li a {
    color: #777777 !important;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
	text-decoration:none;
}
.info ul li a:hover {
    color: #fe0002 !important;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}


.logo {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4px;
}

.search{ margin:0px 0px 5px 0px; text-align:right; }


#newt-search-form {
    -moz-box-align: center;
    -moz-box-flex: 1;
    -moz-box-orient: horizontal;
    display: -moz-box;
    margin-top: 26px;
    max-width: 600px;
	
	
}

.srch{ background:url(../images/searchicon.png) no-repeat;;

-moz-border-bottom-colors:#dddddd;
    -moz-border-left-colors:#dddddd;
    -moz-border-right-colors:#dddddd;
    -moz-border-top-colors:#dddddd;
    -moz-box-flex: 1;
    background-attachment: scroll;
    background-clip: padding-box;
      background-origin: padding-box;
    background-position: left center;
 
    background-size: auto auto;
    border-bottom-color: hsla(210, 54%, 20%, 0.2);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: hsla(210, 54%, 20%, 0.17);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: hsla(210, 54%, 20%, 0.17);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: hsla(210, 54%, 20%, 0.15);
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 1px 0 hsla(210, 65%, 9%, 0.02) inset, 0 0 2px hsla(210, 65%, 9%, 0.1) inset, 0 1px 0 hsla(0, 0%, 100%, 0.2);
    color: #3b3432;
    height: 38px;
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 8px;
    padding-top: 0;

}

 



#newtab-search-text {
    -moz-border-bottom-colors: black;
    -moz-border-left-colors: black;
    -moz-border-right-colors: black;
    -moz-border-top-colors: black;
    -moz-box-flex: 1;
    background-attachment: scroll;
    background-clip: padding-box;
    background-color: hsla(0, 0%, 100%, 0.9);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: hsla(210, 54%, 20%, 0.2);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: hsla(210, 54%, 20%, 0.17);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: hsla(210, 54%, 20%, 0.17);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: hsla(210, 54%, 20%, 0.15);
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 1px 0 hsla(210, 65%, 9%, 0.02) inset, 0 0 2px hsla(210, 65%, 9%, 0.1) inset, 0 1px 0 hsla(0, 0%, 100%, 0.2);
    color: black;
    height: 38px;
    padding-bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0;
}

#newtab-search-submit {
    background-attachment: scroll;
    background-clip: padding-box;
    background-image: linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.1));
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: black;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: black;
    border-top-left-radius: 0;
    border-top-right-radius: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    color: red;
    cursor: pointer;
    font-size: 13px !important;
    height: 38px;
    padding-bottom: 0;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 0;
    transition-duration: 150ms;
    transition-property: background-color, border-color, box-shadow;
}



.menu{
	margin:20px 0 0 0;
	padding:5px 0 5px 0;
}

.menu ul{
	list-style:none;
}

.menu ul li{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
    color:#5c5a5a;
	list-style-type:none;
	float:left;
	padding:0 21px 0 0;
	margin:0 14px 0 0;
	
}

.menu ul li:last-child{
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
    color:#5c5a5a;
	list-style-type:none;
	float:left;
	padding:0 0px 0 0;
	margin:0 0px 0 0;
	border-right:solid 0px;
}




.menu ul li a{
	font-family: "Microsoft PhagsPa" Arial, Helvetica, sans-serif;
	font-size:14px;
    color:#494949;
	list-style-type:none;
	text-decoration:none;
	display:block;
	
}

.menu ul li a:hover{
	display:block;
	color:#ef4124;}
	
	
.slider {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
	background:url(../images/slider.png) no-repeat;
	height:100%px;
	
}

.slider h2{ font-family:"Myriad Pro", Gadget, sans-serif; font-size:39px; color:#FFFFFF; text-align:center; padding:80px; }

.city{
    border-radius: 2px;
    background: #df4a00;
    padding: 20px;
    width: 100%px;
    height: 100%px;
	margin:20px 0 0 0

}
.name{ color:#FFF; font-size:18px;  }

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    background-image: none;
    border-bottom-color: transparent;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 19px;
    margin-left: 2px;
    margin-right: 19px;
    margin-top: 19px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.order{ margin:0 0 0 0px; padding:0 0 0 0px; }

.order h2{ margin:40px 0 0 0px; padding:0 0 0 0px; font-family:"Lobster Two"; font-size:36px; color:#515151; text-align:center; }

line{ margin:0px; padding:0px; }
.line hr {
    border: 3px dotted #909090;
    border-style: none none dotted; 
    color: #fff; 
    background-color: #fff;
	margin:40px 0 0 0px;

}


line2{ margin:0px; padding:0px; }
.line2 hr {
    border: 3px dotted #909090;
    border-style: none none dotted; 
    color: #fff; 
    background-color: #fff;
	margin:40px 0 0 0px;
}

.steps{ margin:10px 0 0 0px; padding:0 0 0 0px; }

.steps h2{ margin:0px 0 0 0px; padding:0 0 0 0px; font-family:"Source Sans Pro"; -webkit-font-sharp: antialiased; font-size:30px; color:#515151; text-align:center; }

.chose{ margin:60px 0 0 0; padding:0 0 0 0; }


.steps1{ margin:0px 0 0 0px; padding:0 0 0 0px; }

.steps1 h2{ margin:20px 0 0 0px; padding:0 0 0 0px; font-family:"Lobster Two"; font-size:36px; -webkit-font-sharp: antialiased; font-size:30px; color:#515151; text-align:center; }

.mykitchen{
    border-radius: 4px;
    background: #ffffff;
    padding: 20px; 
    width: 100%px;
	margin:20px 0 0 0;  
	-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;  

}



.fruits{
    border-radius: 10px;
    background: #f1f1f1;
    width: 138px;
	margin:20px 0 0 0;
	padding:0 0 0 0; 
	
}



.textmy{ margin:0 0 0 0; padding:0 0 0 0; }

.textmy h2{ margin:0 0 0 0; padding:0 0 0 0; }

.right {
    position: absolute;
    right: 0px;
    width: 42%;
	padding:25px 0 0 0 0px;
	margin:12px 0 0 0;
}


.right p{ padding:40px 0 0 0; margin:0 0 0 0; color:#8f8f8f; font-family:"Source Sans Pro" Arial, Helvetica, sans-serif; font-size:14px;
    
}


.right h5{
    position: absolute;
    right: 0px;
	font-family:Arial, Helvetica, sans-serif "Myriad Pro";
	font-size:18px;
	color:#5bbd50;
	padding:0 42px 0 0;
}


.grabit{ margin:9px 0 0 0; }


.topproduct h2 {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 31px;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 0;
    padding-top: 22px;
	font-size:24px;
	font-family: Arial, Helvetica, sans-serif;
	color:#1c1415;
	 }


.product{
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px;
	font-size:24px;
	font-family: Arial, Helvetica, sans-serif;
	color:#1c1415;
	border-bottom:3px solid #c4c4be;
	 }
	 
.fruits1{ margin:20px 0 0 0px; padding:0 0 0 0px; }

.fruits1 h2{ margin:0px 0 0 0px; padding:0 0 0 0px; font-family:"Lobster Two"; font-size:36px; -webkit-font-sharp: antialiased; font-size:40px; color:#d41015; text-align:center; }

.vegitable{ margin:20px 0 0 0px; padding:0 0 0 0px; }

.vegitable h2{ margin:0px 0 0 0px; padding:0 0 0 0px; font-family:"Lobster Two"; font-size:36px; -webkit-font-sharp: antialiased; font-size:40px; color:#3c7b2e; text-align:center; }

.ExotVegetables{ margin:20px 0 0 0px; padding:0 0 0 0px; }

.ExotVegetables h2{ margin:0px 0 0 0px; padding:0 0 0 0px; font-family:"Lobster Two"; font-size:36px; -webkit-font-sharp: antialiased; font-size:40px; color:#3c7b2e; text-align:center; }
	 
	 
.boxtop{ border:1px solid #a3a3a3; background:#FFFFFF;
	box-shadow: 5px 5px 5px #888888; width:215px;
	margin:30px 0px 10px 0px; text-decoration:none; float:left}
	
.boxtop span{
    color: #02a377;
    font-size:14px;
	margin-left:59px;
	font-family: Arial, Helvetica, sans-serif ;
}

.boxtop h3{
    color: #79706a;
    font-size:14px;
	margin-left:35px;

	font-family: Arial, Helvetica, sans-serif ;
}



.boxtop h2{
    color: #02a377;
    font-size:12px;
    font-weight:650;
    text-transform: uppercase;
	font-family:Verdana, Geneva, sans-serif;
	margin:10px 0 0px 15px;
	
}


.qty{ 
	width:60px;
	text-decoration:none;
	margin-right:17px;
    margin-bottom: 18px;
	float:right;
	}
	
.qty h5{ font-family:Verdana, Geneva, sans-serif; font-size:12px; padding:0; color:#557d36;
	}


.catergrious{ margin:0 0 0 0px; padding:0 0 0 0px; }

.catergrious{ border: 1px solid #dbdbdb;
  
    background: #ffffff;
    border-top-right-radius:1em;
    border-top-left-radius: 1em;
    width: 100%px;
	margin:30px 0 0 0; }

.picture{ padding:0 0 0 0px; margin:30px 0 0 0; }		 


.cate{ border: 1px solid #dbdbdb;
    border-bottom-right-radius:1em;
    border-bottom-left-radius: 1em;
    background: #f1f1f1;
    padding:0 0 0 10px; 
    width: 100%px;
	margin:-1px 0 0 0; }
	
	
.cate h2{ margin:0 0 0 0px; padding:10px 0 0 0px; font-size:24px; font-family:"Myriad Pro"Arial, Helvetica, sans-serif; color:#515151; text-align:center; } 	 

.cate p{ margin:0 0 0 0px; padding:10px 0 0 0px; font-size:18px; font-family:Arial, Helvetica, sans-serif"Myriad Pro"; color:#515151; text-align:center; } 	 

.price-rate {
    border-top-color: #e7e7e7;
    border-top-style: solid;
    border-top-width: 1px;
    margin-top: 10px;
}
.price {
    float: left;
    margin-left: 15px;
}
.price h5 {
    color: #ff8e01;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    margin-left: 15px;
    margin-top: 15px;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: line-through;
    text-decoration-style: solid;
}
.price h6 {
    color: #74b005;
    font-size: 17px;
    font-weight: 600;
}
.qtyi {
    float: right;
    margin:5px 5px 0px 0px;
 
}
.qtyi h6 {
    color: #ff9f03;
    float: left;
    font-size: 15px;
    font-weight: 600;
    margin-right: 8px;
    margin-top: 3px;
}
.qty-gram {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: #e5e5e5;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #e5e5e5;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #e5e5e5;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #e5e5e5;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 0 20px #f9f9f9 inset;
    margin-right: 14px;
    margin-top: 2px;
    width: 71px;
	color:#515151;
}

.small{ margin:0px 0 0 0; padding:0 0 0 0;}

.development-cont {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 25px;
}

.development {
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 282px;
}


.design3 {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto auto;
    float: left;
    height: 100px;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 8px;
    margin-top: 0;
    width: 100px;

}




.design3 a:hover {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto auto;
    float: left;
    height: 80px;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 80px;

}

.development-cont a {
    color: #484848;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
}
.design3 a {
    float: left;
    height: 80px;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 80px;

}


.development p {
    
    margin-bottom:0px;
    margin-left: 0;
    margin-right: 5px;
    margin-top: 0;
   

}


.development h2 {
    color: #5bbd50;
    font-family:"Lobster Two";
    font-size: 18px;
	font-weight:bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 47px;
    padding-right: 0;
    padding-top: 15px;
}

.development-text {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 8px !important;
    margin-left: 9px !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
	width:100%;
}

.footer{ margin:20px 0 0 0px; padding:0 0 0 0px; }

.footer h2{ margin:0 0 0 0px; padding:0 0 0 0px; font-family:"Lobster Two"; font-size:20px; color:#FFF; font-weight:bold; }

.site{ margin:0px 0 0 0px; padding:0 0 0 0px; }

.site ul{ 
    list-style-type: none;
    padding: 0px;
    margin:20px 0 0 0; }
	
.site ul li{ 
    background-image:url(../images/arwo.png) ;
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 15px;
	color:#a9a9a9;
	padding:0px 0 0 20px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:15px;
   
	
	 }	
	 
	 
.site ul h6{ 
    border-bottom-style: dotted ;
	font-size:2px;
	color:#a9a9a9;

	
	 }	
	 
.news { margin:0 0 0 0px;
padding:0 0 0 0px;
	 }		
	 
.news p{ margin:20px 0 0 0px;
         padding:0 0 0 0px;
         font-family:"Source Sans Pro";
         font-size:15px;
         color:#8f8f8f;
	 }	
	 
.updates { border: 2px solid #737373;
    padding: 15px 40px; 
    background: #515151;
    width: 200px;
    border-radius: 4px;
	margin:20px 0 0 0;
 }
 
.allright{ margin:0px 0 0px 0px; padding:10px;}

.allright p{ margin:0px 0 0px 0px; padding:0 0 0 0px; font-family:"Source Sans Pro"; font-size:15px; color:#5bbd50; }


<!--<start inner page>-->

.shop{ margin:0px 0 0 0; padding:0px;}

.shop h2{ margin:0px; padding:0px; font-size:18px; color:#070005; font-family:"Source Sans Pro"Arial, Helvetica, sans-serif; text-align:center; }

.shop span{ margin:0px; padding:0px; font-size:18px; color:#fd0100; font-family:"Source Sans Pro"Arial, Helvetica, sans-serif; }

.sidetext { margin:0 0 0 0px; padding:0 0 0 0px; }

.sidetext h2{ font-size:20px; color:#585858; font-family:"Source Sans Pro"Arial, Helvetica, sans-serif; }

.linesidde{ 
    border-bottom:solid #b8b8b8;}

.allproduct{ margin:0 0 0 0px; padding:0 0 0 0px; }	

.allproduct h3{ margin:0 0 0 0px; padding:10px 0 0 0px; font-family:"Source Sans Pro" Arial, Helvetica, sans-serif; font-size:18px; color:#009900; }	

	
.allproduct ul{ list-style-type: none;
    padding: 0px;
    margin:0px; }	
	
.allproduct ul li{ padding:0px;
	color:#373737;
	padding:0px 0 0 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:12px; }		
	
	
	
.allproduct1{ margin:0 0 0 0px; padding:0 0 0 0px; }	

.allproduct1 h3{ margin:0 0 0 0px; padding:10px 0 0 0px; font-family:"Source Sans Pro" Arial, Helvetica, sans-serif; font-size:18px; color:#009900; }	

	
.allproduct1 ul{ list-style-type: none;
    padding: 0px;
    margin:0px; }	
	
.allproduct1 ul li{ padding:5px 0 0 0px;
	background-image:url(../images/12.png) ;
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 20px; }		
	

	

<!--<Endinner page>-->
	 