﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="test.aspx.cs" Inherits="test" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
<ul>
    <li style="display:inline-block"><img src="images/mykitchen.png" alt="" class="img-responsive" /></li>
    <li style="display:inline-block"><h5>My Kitchen</h5>
    <p>Lorem ipsum dolor sit amet.adipiscing elit. </p></li>
    
    </ul>
    
    </div>
    </form>
</body>
</html>
